<h3 class="pico-color-cyan-450 font-roboto">Notes</h3>

<fieldset role="group">
    <textarea
        class="pico-background-sand-150 pico-color-cyan-450 font-roboto"
        name="note-display"
        readonly
    ></textarea>
    <button id="edit-notes-button" class="outline font-jacquard">edit</button>
</fieldset>
<fieldset role="group">
    <textarea
        class="pico-background-sand-150 pico-color-cyan-450 font-roboto"
        name="note-input"
        placeholder="Notes"
        aria-label="notes"
        hidden
    ></textarea>
    <button id="save-notes-button" class="outline font-jacquard" hidden>
        save
    </button>
</fieldset>
