.font-jacquard {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
}

.font-roboto {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
