<!doctype html>
<html lang="en">
    <head>
        <title>{{ site.title }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.cyan.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Jacquard+24&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
            rel="stylesheet"
        />
        <link href="{{ '/assets/style.css' | relative_url}}" rel="stylesheet" />
    </head>
    <body class="pico-background-sand-150">
        <main class="container-fluid">{{ content }}</main>
        <script src="{{ '/assets/scripts.js' | relative_url}}"></script>
    </body>
</html>
